#products main  section.banner{
  margin-top: 53px;
}
#products main .banner{
  width: 100vw;
  height: 106.25px;
}
#products main .banner img{
  display: block;
  width: 100vw;
  object-fit: contain;
}

#products main .category{
  margin-top: 20px;
  outline: 2px solid red;
  padding: 5px 20px;
  height: 150px;
  position: relative;
}
#products .category .main-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#products .category .main-menu .sub-menu{

}
#products .category .main-menu > li{
  position: relative;
}
#products .category .main-menu li ul.sub-menu{
  width: max-content;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  justify-content: space-between;
}
/* 1depth on */
#products .category .main-menu > li.on{
  border-bottom: 1px solid #333;
}
/* 2depth .on */
#products .category .main-menu ul.sub-menu li.on{
  border-radius: 4px;
  background: #333;
  color: #fff;
}
#products .category .main-menu ul.sub-menu li{
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #aaa;
  padding: 2px 8px;
  margin-right:15px;
  cursor: pointer;
}
#products .category .main-menu ul.sub-menu li:last-child{
  margin-right: 0;
}

#products main .category .filter{
  margin-top: 50px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
#products main .category .filter .row-filter{
  height: 30px;
}
#products main .category .filter .col-filter{
  height: 30px;
  display: none;
}

#products main .row-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#products main .row-item article{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50vw;
  padding: 0 20px;
  margin-bottom: 20px;
}
#products main .row-item article img{
  min-width: 156px;
  width: calc(50vw - 40px);
}
#products main .row-item article h3{
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
}
#products main .row-item article h4{
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}
#products main .row-item article p{
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
}

#products main .col-item{
  display: flex;
  flex-direction: column;
padding: 0 20px;
margin-bottom: 20px;
}
#products main .col-item article{
  display: flex;
  border-bottom: 1px solid #aaa;
}
#products main .col-item article .item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}